@{
    ViewBag.Title = "SuperInternet";
}

<div class="content">
    <div class="block">
        <div class="logotype">
            <section>
                <img src="~/Logotype.png" style="width: 300px;">
                <h3>SuperInternet это:</h3>
                <h4>— Надёжная телекоммуникационная компания</h4>
                <h4>— Дешёвые услуги</h4>
                <h4>— Отзывчивая поддержка</h4>
            </section>
        </div>
    </div>
    <div style="padding-left: 450px;">
        <h3>Информация:</h3>
        <p>Местоположение: 220100, г. Минск, ул. Богдановича 78-261, офис №1</p>
        <p>Телефон: (017) 324-24-04 многоканальный</p>
        <p>
            Режим работы офиса:<br>
            понедельник - пятница: 9:00 — 18:00<br>
            суббота и воскресенье выходной
        </p>
        <p>
            Служба поддержки: 9:00 - 23:00 без выходных<br>
            (017) 334-07-41    (017) 324-24-04
        </p>
        <p>Эл. почта: sych_y@mail.ru</p>
    </div>
    <h3 style ="padding-left: 50px; padding-top: 210px;">О компании:</h3>
    <div class="pds">
        <p>
            ОДО «SuperInternet» является одним из крупнейших и динамично развивающихся интернет-провайдеров на территории Республики Беларусь.
            Основное направление деятельности компании – обеспечение недорогого и стабильного доступа к сети Интернет физическим и юридическим лицам.
        </p>

        <p>
            Свою историю провайдер ведет с 2001 года, когда небольшой отдел электросвязи ОДО «BigServices» в короткие сроки вырос в многопрофильную компанию,
            ставшую одним из самых серьезных игроков на рынке телекоммуникационных услуг.
        </p>

        <p>
            Общество с дополнительной ответственностью «SuperInternet» зарегистрировано Минским городским исполнительным комитетом решением
            от 6 июля 2005 года №1171 в Едином государственном регистре юридических лиц и индивидуальных предпринимателей за №190637924.
            Компания предоставляет услуги электросвязи на основании лицензия Министерства связи и информатизации Республики Беларусь за
            № 02140/1462, выданной 20 сентября 2005 года и действительной до 20 сентября 2020 года.
        </p>

        <p>
            ОДО «SyperInternet» осуществляет свою деятельность в г. Минске и Минском районе (г.п. Боровляны и Лесной) и является оператором
            электросвязи полного цикла. Мы предлагаем своим клиентам эффективные решения в области связи и телекоммуникаций, начиная от консультаций
            и проектирования, и заканчивая строительством локальных вычислительных сетей. Абонентам предоставляется широкий выбор тарифных планов и
            технологий, различные способы оплаты и пополнения своих лицевых счетов.
        </p>

        <p>
            Мы стараемся быть ответственными перед своими клиентами и предлагать им только те решения, которые им необходимы здесь и сейчас.
            Открытость и гибкость - вот наши основные принципы работы с клиентом. Поэтому, обратившись к нам однажды, наши клиенты надолго сохраняют
            взаимовыгодные партнерские отношения.
        </p>
    </div>
</div>