
@{
    ViewBag.Title = "Смена пароля";
}

<div class="ContentSign">
    <h3 style="padding-left: 400px;">Смена пароля</h3>
    <form action="/Account/ChangePassword" method="post" class="set_info">
        <fieldset>
            <label for="OldPassword">Старый пароль:</label><br>
            <input type="password" name="OldPassword" id="OldPassword" maxlength="25" minlength="5" pattern="[A-Za-z0-9_-]+" required><br>
        </fieldset>
        <fieldset>
            <label for="NewPassword">Новый пароль:</label><br>
            <input type="password" name="NewPassword" id="NewPassword" maxlength="25" minlength="5" pattern="[A-Za-z0-9_-]+" required><br>
        </fieldset>
        <fieldset>
            <label for="RepeatNewPassword">Повторите новый пароль:</label><br>
            <input type="password" name="RepeatNewPassword" id="RepeatNewPassword" maxlength="25" minlength="5" pattern="[A-Za-z0-9_-]+" required><br>
        </fieldset>
        <fieldset style="text-align: center">
            <input name="change_submit" type="submit" value="Применить">
        </fieldset>
    </form>
</div>